@import '../Partials/SkappUtils';
.bar, .logoBox{
  transition: cubic-bezier(.39,-0.07,.47,1.05) all 1s;
}
.bar {
  @include SkappShadow();
  display: flex;
  justify-content: center;
  background-color: $primary-color;
  @media screen and (min-width: $break-medium) {
    background-color: rgba(255, 255, 255, 0.85);
    height: pixelsToEms(65);
  }
  @media screen and (min-width: $break-extra-large) {
    justify-content: space-between;
  }
}

.logoBox {
  display: flex;
  justify-content: center;
  img {
    width: pixelsToEms(120);
  }
  @media screen and (min-width: $break-medium) {
    @include SkappShadow();
    @include SkappRadius(0px, 0px, 50px, 50px);
    background-color: $primary-color;
    height: pixelsToEms(85);
    width: pixelsToEms(258);
    img {
      width: pixelsToEms(180);
    }
  }
  @media screen and (min-width: $break-extra-large) {
    @include SkappRadius(0px, 0px, 50px, 0px); 
  }
}