@import '../partials/SkappUtils';
@import '../partials/SkappValues';

.loadingContainer{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: calc(100vh - #{$bar-height-small});
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $break-medium) and (orientation: landscape) {
    height:calc(100vw - #{$bar-height-small});
  }
  @media screen and (max-width: $break-large) and (orientation: landscape) {
    height:calc(100vw - #{$bar-height-medium});
  }
  @media screen and (min-width: $break-medium) and (orientation: portrait) {
    height: calc(100vh - #{$bar-height-medium});
  }
  @media screen and (min-width: $break-extra-large) and (orientation: portrait) {
    height: calc(100vh - #{$bar-height-extra-large});
  }
}

.iconLoading{
  display:flex;
}

.icon {
  color: $primary-color;
}

.loadingText{
  color: $primary-color;
  font-family: 'NimbusSanL';
  font-weight: 600;
  font-style:bold;
  font-size:pixelsToEms(20);
}

